$primary: #111111;
$secondary: #f9f5ff;
$compliment: #cc2936;

.about {
  margin-top: 3rem;

  &__container {
    padding-top: 1.5rem;
    color: $secondary;
    width: 90%;
    max-width: 215rem;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: "992px") {
      flex-direction: row;
      align-items: center;
    }
  }

  &__summary {
    @media screen and (min-width: "992px") {
      font-size: 2.2rem;
      line-height: 3.5rem;
      margin-right: 5rem;
    }

    @media screen and (min-width: "1940px") {
      line-height: 4.5rem;
    }
  }

  &__languages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 90%;
    margin: auto;
    margin-top: 2rem;

    > div {
      width: 33.3%;
    }

    @media screen and (min-width: "992px") {
      width: 100%;
      gap: 70px;
    }
  }
}
